* {
    font-family: 'Merriweather Sans', sans-serif;
}


header {
    
    color: #000;
    display: flex;
    justify-content: space-between;
    align-items: center;
 
}



.container {
    margin: auto;
    padding: 30px;
    display: contents;
    align-items: center;
}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
}

nav ul li a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    font-size: 16px;
}

nav ul li {
    margin: 5px 0;
}

.card-body .d-flex {
    display: inline-block;
    justify-content: space-between;

}

